<div class="signup">
        <h1>Sign Up</h1>
        <head>
                <link rel="stylesheet" href="public/css/signupstyle.css">
        </head>
        <form action ="/signup" method="post">
            <input type="text" name="firstName" placeholder="First Name" required="required" />
             <input type="text" name="lastName" placeholder="Last Name" required="required" />
              <input type="email" name="id" placeholder="Email" required="required" />
            <input type="password" name="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Welcome Onboard.</button>
        </form>
    </div>
